<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>Controller.feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginUser</servlet-name>
        <servlet-class>Controller.loginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>Controller.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginAdmin</servlet-name>
        <servlet-class>Controller.loginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>Controller.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>Controller.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reservation</servlet-name>
        <servlet-class>Controller.reservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatus</servlet-name>
        <servlet-class>Controller.UpdateStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingCancellation</servlet-name>
        <servlet-class>Controller.bookingCancellation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail2</servlet-name>
        <servlet-class>Controller.SendMail2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginUser</servlet-name>
        <url-pattern>/loginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginAdmin</servlet-name>
        <url-pattern>/loginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reservation</servlet-name>
        <url-pattern>/reservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatus</servlet-name>
        <url-pattern>/UpdateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingCancellation</servlet-name>
        <url-pattern>/bookingCancellation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail2</servlet-name>
        <url-pattern>/SendMail2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
